/* Remove bottom border from links */
.__sri_title_link._0_sri_title_link._0_URL {
  border-bottom: none;
}

/* Remove underline with nested links */
.__srgi-title a {
border-bottom: none; var(--result-item-title-border);
}

/* Remove underline with News module */
.newsResultItem .newsResultHeader .newsResultTitle a._0_TITLE {
  border-bottom: none; var(--result-item-title-border);
}

/* Remove underline from links in Wikipedia module */
.wikipediaResult a {
  border-bottom: none; var(--result-item-title-border);
}

/* Hide the dog on the search page */
.doggo_sit_a {
  display: none;
}

/* Hide the quick search button on mobile */
.quick-search-btn {
  display: none;
}

/* Move lens to the end of the nav menu */
._0_lenses {
  order: 1;
}

/* Move the more dropdown to the end on mobile */
.serp_nav_end {
  order: 2;
}

/* Changes to the mobile search results dividers */
@media only screen and (max-width: 500px) {
  .search-result, .sri-group {
    border-bottom: 2px solid var(--m_sri_gap_color);
  }

  .inline-content+.search-result, .inline-content+.sri-group {
    border-bottom: 2px solid var(--m_sri_gap_color);
    border-top: 3px solid var(--m_sri_gap_color);
  }
}

/* Minor tweaks to the interesting finds section */
.list-widget .widgetContent .widgetItemTitle {
  border-bottom: 0;
  font-weight: bold;
}

.list-widget .inlineHeader {
  border: 0;
}

/* Clamp video titles at 2 lines */
.widgetItem .videoResultTitle {
  -webkit-line-clamp: 2;
}

/* Fix alignment and sizing of category buttons on mobile search page */
.landing_cat_buttons {
  justify-content: center;
}

.landing-category-select .landing_cat_buttons>button i {
  height: auto;
  width: auto;
}

.landing-category-select .landing_cat_buttons>button {
  width: 120px;
  align-items: center;
}
