/* Remove bottom border from links */
.__sri_title_link._0_sri_title_link._0_URL {
  border-bottom: none;
}

/* Remove underline with nested links */
.__srgi-title a {
border-bottom: none; var(--result-item-title-border);
}

/* Remove underline with News module */
.newsResultItem .newsResultHeader .newsResultTitle a._0_TITLE {
  border-bottom: none; var(--result-item-title-border);
}

/* Remove underline from links in Wikipedia module */
.wikipediaResult a {
  border-bottom: none; var(--result-item-title-border);
}

.doggo_sit_a {
  display: none;
}

.quick-search-btn {
  display: none;
}

.serp_nav_end {
  order: 2;
}

.search-result, .sri-group {
  border-bottom: 3px solid var(--m_sri_gap_color);
}

.inline-content+.search-result, .inline-content+.sri-group {
  border-top: 3px solid var(--m_sri_gap_color);
}

.list-widget .widgetContent .widgetItemTitle {
  border-bottom: 0;
  font-weight: bold;
}

.list-widget .inlineHeader {
  border: 0;
}

.landing_cat_buttons {
  justify-content: center;
}

.widgetItem .videoResultTitle {
  -webkit-line-clamp: 2;
}

.landing-category-select .landing_cat_buttons>button i {
  height: auto;
  width: auto;
}

.landing-category-select .landing_cat_buttons>button {
  width: 120px;
  align-items: center;
}

._0_lenses {
  order: 1;
}
